<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" 
          android:versionName="1.2" package="com.refractored.islandtracker" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="Island Tracker" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>